.git
.gitignore

.env
.env.*
!.env.example

node_modules
**/node_modules

dist
**/dist
build
**/build

coverage
**/coverage

*.log
logs
runtime
runtime.example/**/data

.DS_Store
Thumbs.db

*.pem
*.key
*.crt
*.cer
*.der
*.p12
*.pfx
*.jks

.vscode
.idea